@import url(https://fonts.googleapis.com/css?family=Poppins:300);

body {
    background-image: url('../picture/rembangann.jpg');
    font-family: "Poppins", sans-serif;
    padding-top: 4rem;
	/* overflow-x: hidden; */
}

input {
    width: 100%;
    padding: 0.75rem 1rem;
    font-family: inherit;
    font-size: inherit;
    color: #333333;
    border: none;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

.btn {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
    border-radius: 0px;
}

.form-group {
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    font-size: larger;
}

.container .card {
    background: #fff;
    padding: 30px 35px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 600px;
}

.container .card form .form-control {
    height: 40px;
    font-size: 15px;
}

.container .card form button {
    background: rgb(74, 143, 83);
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.container .card form button:hover {
    background: rgb(95, 149, 102);
}

.container .card form .link {
    padding: 5px 0;
}

.container .card form .message a {
    color: rgb(74, 143, 83);
}

.container .login-form form p {
    font-size: 14px;
}

.row {
    margin-top: 0rem;
    align-items: center;
    justify-content: center;
}

.navbar-toggler-icon {
    filter: invert(1);
}

/* TABEL */
.table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
}
.table-data div {
	border-radius: 20px;
	background: white;
	padding: 24px;
	overflow-x: auto;
    margin-right: 3rem;
    margin-left: 3rem;
}

@media screen and (max-width: 678px) {
    .table-data div {
        margin-right: 0rem;
        margin-left: 0rem;
    }
}
.table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
.table-data .order .head h3 {
	/* margin-right: auto; */
	font-size: 13px;
	font-weight: 200;
}
.table-data .head .bx {
	cursor: pointer;
}
.table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
.table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
.table-data .order table thead tr th{
	padding-bottom: 12px;
	font-size: 20px;
	text-align: left;
	border-bottom: 12px solid #333333;
}
.table-data .order table tbody tr td {
	padding: 16px 0;
}
.table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
.table-data .order table td img {

	object-fit: cover;
}
.table-data .order table tbody tr:hover {
	background: grey;
}
/* .table-data .data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
} */
.table-data .data .content-data {
	flex-grow: 1;
	flex-basis: 100%;
	padding: 20px;
	background: var(--light);
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}

.table-data .order .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
.table-data .order .head h3 {
	font-size: 60px;
	font-weight: 600;
}

td.qrcode {
align-items: center;
}
/* TABEL */